Repository belgattitude/desync: changes, and which Codecov flags are due for each by the changed paths.
All: useDeepCompareMemoize, usePromise, result

docs: updated logos
  README.md
  packages/result/README.md
  packages/use-deep-compare-memoize/README.md
  packages/use-promise/README.md
Due: useDeepCompareMemoize, usePromise, result

chore(dev-deps): latest updates
  package.json
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise, result

Publish
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise, result

chore(dev-deps): jest updates
  package.json
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise, result

chore(dev-deps): update dev deps
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise, result

ci: add duplicate checks
  .github/workflows/ci.yml
Due: none

fix: deduplicate lock file
  yarn.lock
Due: none

chore(dev-deps): update testing-library
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise, result

feat: allow react 17
  packages/core/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

fix: deduplicate yarn.lock
  yarn.lock
Due: none

chore(dev-deps): husky 6 updated
  .husky/.gitignore
  .husky/pre-commit
Due: none

fix: husky 6 fixes
  .husky/pre-commit
Due: none

chore(dev-deps): husky 6 updated
  package.json
Due: none

chore(dev-deps): updated to latest
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise, result

ci: add tests for node 14 and 16
  .github/workflows/ci.yml
Due: none

chore(lock): deduplicate
  yarn.lock
Due: none

chore(dev-deps): prettier recommended
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: fix ts-jest warning with tsConfig
  packages/core/jest.config.js
  packages/result/jest.config.js
  packages/use-deep-compare-memoize/jest.config.js
  packages/use-promise/jest.config.js
Due: useDeepCompareMemoize, usePromise, result

test: ensure isLoading is false when error
  packages/use-promise/test/use-promise.test.ts
Due: usePromise

chore(yarn): upgrade to 3.2.0-rc.2
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.0-rc.2.cjs
  .yarnrc.yml
Due: none

ci: upgrade for yarn 3.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: resolve json in tsconfig
  tsconfig.json
Due: none

chore(deps): updated to all to latest
  package.json
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise, result

chore(husky): move to yarn workspace
  .husky/pre-commit
Due: none

chore(jest): updated configs
  config/jest/jest.stubs.ts
  config/jest/jest.tests.ts
  packages/core/jest.config.js
  packages/use-promise/jest.config.js
Due: usePromise

refactor: updated to ts 4.4+
  packages/core/test/index.test.ts
  packages/result/src/result.ts
Due: result

chore(lock): refresh and dedupe
  yarn.lock
Due: none

ci: fix
  .github/workflows/ci.yml
  package.json
Due: none

Path conditions:
  useDeepCompareMemoize: any of: packages/use-deep-compare-memoize, but not: scripts/**/*, docs/**/*
  usePromise: any of: packages/use-promise, but not: scripts/**/*, docs/**/*
  result: any of: packages/result, but not: scripts/**/*, docs/**/*
