Repository emcee22/desyncCopy: changes, and which Codecov flags are due for each by the changed paths.
All: useDeepCompareMemoize, usePromise

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default: off
      useDeepCompareMemoize:
        flags: useDeepCompareMemoize
        target: 50%
      usePromise:
        flags: usePromise
        target: 50%

flags:
  useDeepCompareMemoize:
    paths:
      - packages/use-deep-compare-memoize
  usePromise:
    paths:
      - packages/use-promise

ignore:
  - "scripts/**/*"
  - "docs/**/*"

chore: lowercase action
  .github/workflows/release.yml
Due: none

doc: fix badge
  README.md
Due: none

Publish
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

doc: updated versions
  README.md
  packages/use-deep-compare-memoize/README.md
  packages/use-promise/README.md
Due: useDeepCompareMemoize, usePromise

doc: fixed size badge
  README.md
  packages/use-deep-compare-memoize/README.md
Due: useDeepCompareMemoize

fix: package publish config
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore(deps): regular deps updated
  package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise

chore(ci): updated test action
  .github/workflows/ci.yml
Due: none

chore: force yarn for bootstrap command
  lerna.json
Due: none

fix: react to 16.13
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise

feat: added result object
  .codecov.yml
  README.md
  packages/result/.eslintignore
  packages/result/.gitignore
  packages/result/README.md
  packages/result/example/index.ts
  packages/result/jest.config.js
  packages/result/package.json
  packages/result/src/index.ts
  packages/result/src/result.ts
  packages/result/test/result.test.ts
  packages/result/tsconfig.build.json
  packages/result/tsconfig.jest.json
  packages/result/tsconfig.json
  packages/use-deep-compare-memoize/README.md
  packages/use-promise/README.md
  yarn.lock
Due: useDeepCompareMemoize, usePromise

docs: fix few texts
  README.md
Due: none

fix: wording
  README.md
Due: none

chore: fix coverage publish
  packages/result/package.json
Due: none

docs: add links to projects
  README.md
Due: none

Publish
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

docs: added licence
  packages/result/LICENSE
  packages/use-deep-compare-memoize/LICENSE
  packages/use-promise/LICENSE
Due: useDeepCompareMemoize, usePromise

chore(deps): tsdx update + ncu scripts
  package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/README.md
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

feat: new @desync/core package
  .eslintrc.json
  README.md
  package.json
  packages/core/.eslintignore
  packages/core/.gitignore
  packages/core/LICENSE
  packages/core/README.md
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/test/index.test.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.jest.json
  packages/core/tsconfig.json
  packages/result/jest.config.js
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: useDeepCompareMemoize

docs: update badge and links
  README.md
Due: none

Publish
  packages/core/package.json
  packages/result/package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore(ci): packages build is now done in lerna prepublish
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

tmp
  packages/core/test/index.test.ts
Due: none

Publish
  packages/core/package.json
Due: none

chore: trying to check the version update
  packages/use-promise/src/use-promise.ts
Due: usePromise

Publish
  packages/core/package.json
  packages/use-promise/package.json
Due: usePromise

chore: trying to check the version update
  packages/core/src/index.ts
Due: none

chore: trying to check the version update
  lerna.json
Due: none
