Repository emcee22/desyncCopy: changes, and which Codecov flags are due for each by the changed paths.
All: useDeepCompareMemoize, usePromise

chore(ci): add github action for tests
  .github/workflows/test.yml
Due: none

docs: added badge and package links
  README.md
Due: none

fix: invalid reference
  .npmrc
Due: none

chore: updated build steps
  .github/workflows/test.yml
  package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-deep-compare-memoize/tsconfig.build.json
  packages/use-deep-compare-memoize/tsconfig.json
  packages/use-promise/package.json
  packages/use-promise/tsconfig.build.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: useDeepCompareMemoize, usePromise

chore: helper script for coverage
  package.json
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore: codecov publishing
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

docs: added build status badge
  README.md
Due: none

chore: add codecov token
  .github/workflows/test.yml
Due: none

chore: tsconfig separate build and dev behaviours
  packages/use-deep-compare-memoize/package.json
  packages/use-deep-compare-memoize/tsconfig.json
  packages/use-promise/package.json
  packages/use-promise/tsconfig.build.json
  packages/use-promise/tsconfig.json
  tsconfig.json
Due: useDeepCompareMemoize, usePromise

chore: prepare for publish
  .github/workflows/test.yml
  package.json
  packages/use-promise/package.json
  packages/use-promise/tsconfig.json
Due: usePromise

chore: remove outDir and rootDir
  packages/use-deep-compare-memoize/tsconfig.json
Due: useDeepCompareMemoize

chore(husky): add build before typecheck
  package.json
Due: none

chore: tsconfig separate build and dev behaviours
  packages/use-deep-compare-memoize/tsconfig.json
  packages/use-promise/package.json
  packages/use-promise/tsconfig.json
Due: useDeepCompareMemoize, usePromise

chore: add jest config
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/jest/jest.stubs.ts
  config/jest/jest.tests.ts
  packages/use-deep-compare-memoize/jest.config.js
  packages/use-deep-compare-memoize/package.json
  packages/use-deep-compare-memoize/tsconfig.jest.json
  packages/use-promise/jest.config.js
  packages/use-promise/package.json
  packages/use-promise/tsconfig.jest.json
  tsconfig.build.json
Due: useDeepCompareMemoize, usePromise

feat(use-promise): add reload feature
  packages/use-promise/src/use-promise.ts
  packages/use-promise/test/use-promise.test.ts
Due: usePromise

chore(tsconfig): exclude coverage by default
  packages/use-deep-compare-memoize/tsconfig.build.json
  packages/use-promise/tsconfig.build.json
Due: useDeepCompareMemoize, usePromise

chore(tsconfig): specify include
  packages/use-deep-compare-memoize/tsconfig.build.json
  packages/use-promise/tsconfig.build.json
Due: useDeepCompareMemoize, usePromise

doc: added badges
  packages/use-deep-compare-memoize/README.md
  packages/use-promise/README.md
Due: useDeepCompareMemoize, usePromise

Publish
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore(lerna): added access public
  lerna.json
Due: none

release: increment canary version
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore: npmrc add acces public
  .npmrc
Due: none

chore: added publish config
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

release: fix version
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore: scope action to pull_request
  .github/workflows/test.yml
Due: none

chore: autopublish to npm
  .github/workflows/release.yml
Due: none

chore: added sideeffects to false
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore: fix issues with check files
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: fix yarn.lock
  yarn.lock
Due: none

chore: fix dep to *
  packages/use-promise/package.json
Due: usePromise

chore: add git scripts helpers
  package.json
Due: none

release: canary 12
  packages/use-deep-compare-memoize/package.json
  packages/use-promise/package.json
Due: useDeepCompareMemoize, usePromise

chore: updated lock file
  yarn.lock
Due: none

doc: added size badges
  README.md
  packages/use-deep-compare-memoize/README.md
  packages/use-promise/README.md
Due: useDeepCompareMemoize, usePromise

doc: added size badges
  packages/use-deep-compare-memoize/package.json
Due: useDeepCompareMemoize

Path conditions:
  useDeepCompareMemoize: any of: packages/use-deep-compare-memoize, but not: scripts/**/*, docs/**/*
  usePromise: any of: packages/use-promise, but not: scripts/**/*, docs/**/*
